
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no" />
    <script type="text/javascript" src="~/js/JQuery.js"></script>

    <script type="text/javascript">
        $(function () {
            //JavaScript代码区域
            //layui.use('element', function () {
            //    var element = layui.element;

            //});
        });
    </script>
    <title></title>
    <style type="text/css">
        /*html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-content: center;
            justify-content: center;
            vertical-align: central;
            flex-wrap: wrap;
            align-items: center;
            font-family: 'Open Sans',sans-serif;
        }

        h3 {
            font-size: 28px;
        }

        .self-nav {
            display: flex;
            width: 100%;
            height: 20%;
            align-content: flex-start;
            align-items: flex-start;
            justify-content: center;
            margin-top: 2%;
            align-self: flex-start;
            background-color: aqua;
        }

        .self-nav li {
            float: left;
            list-style:none;
            margin-left:5px;
            
        }
        .self-nav li dl{
            display:none;
        }*/
    </style>
</head>
<body>
    @*<div class="self-nav">
            <ul>
                <li><a href="javascript:void(0);">首页</a></li>
                <li>
                    <a href="javascript:void(0);">案例</a>
                    <dl>
                        <dd><a href="javascript:void(0);">首选1</a></dd>
                        <dd><a href="javascript:void(0);">首选2</a></dd>
                        <dd><a href="javascript:void(0);">首选3</a></dd>
                    </dl>
                </li>
                <li><a href="javascript:void(0);">新闻</a></li>
                <li><a href="javascript:void(0);">联系我们</a></li>
            </ul>
        </div>*@
        <div>
            <h3>This is my Azure APP!</h3>
            <h3>Thank you for your visit!</h3>
        </div>
</body>
</html>
